$darkcol: #222831;
$lightcol: #393e46;
$blue: #00adb5;
$pink:#FF2E63;
$lightgrey:#EAEAEA;

//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Mina');
* {
  margin: 0;
 padding: 0;
//   border: 0;
//   outline: 0;
//   font-size: 100%;
//   vertical-align: baseline;
//   background: transparent;
 }
html {
  color: rgb(252, 249, 249);
  box-sizing: border-box;
  //font-family: "Source Sans Pro", sans-serif;
  font-family: 'Mina', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //transition: all .4s linear ;
}
body {
  display: none;
  
//   background: #00d2ff;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fontawesome-i2svg-active body {
  display: initial;
}
html::after,
html::before {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.container {
  width: 90vw;
  margin: 0 auto;
}
hr {
  border-color: $lightcol;
  border-width: 0.5px;
   opacity: 0.4;
   margin: .2em;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  &-row {
    flex-direction: row;
    justify-content: space-around;
  }
  &-col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
header{
  background: linear-gradient(to right, rgba(36, 59, 85, 0.705), rgba(20, 30, 48, 0.698)),url('../img/header_bac.jpg');
  background-position: center;
  background-size: cover;
  height: 95vh;
}
.nav{
  padding: 1em;
}
.nav-items {
  list-style: none;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  a {
    display: inline-block;
    color: $lightgrey;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $pink;
      transition: width 0.3s;
      
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.home{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 width: 100%;
  
    &-name{
        font-weight: 900;
    }
    &-desc{
        
        font-weight: 400;
    }
    &-btn{
        border: 1px solid $darkcol;
        margin-top: 2em;
        text-decoration: none;
        color: $lightgrey;
        font-weight: 900;
       padding: .7em 1.5em;
       border-radius: 100px;
       box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.24);  
       &:hover{
            background-color:#3a7bd5; //lighten($color:#3a7bd5, $amount:5);
           box-shadow: 0 0 0 rgba(0, 0, 0, 0);
       }
    }
}
.about-bac{
  background:linear-gradient(to right, rgba(36, 59, 85, 0.705), rgba(20, 30, 48, 0.698)), url('../img/about_bac.jpg');
    width:100%;
    background-position: center;
    background-size: cover;
}
.about{
    height: 95vh;
    
    //font-family: 'Roboto Slab', serif;
    &-title{
        font-weight: 500;
        font-family:'Roboto Slab', serif; 
        text-align: center;
        // color: #219fa0;
        font-size: 3rem;
        color: $blue;
        padding: 1em;
    }
    &-desc{
        margin: 2em 0;
        font-size: 1.2rem;
        
    }
}
.portfolio-title{
  font-family: 'Roboto Slab', serif;
        font-weight:500;
        text-align: center;
        font-size: 3rem;
        color: $blue;
        padding: .3em;
}
.card {
  background: rgb(28, 39, 53);
  border-radius: 10px;
  display: inline-block;
  //height: 350px;
  margin: 0.5rem 0 1rem 0;
  position: relative;
  width: 300px;
  &-hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  &-footer{
    position: relative;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: .8em;
    //bottom: 0;
    text-align: right;
    a{
      //position: absolute;
      font-family:'Roboto Slab', serif;
      text-transform: uppercase;
      color: $blue;
      text-decoration:none;
      //top: 2em;

    }
  }
  &-desc{
    padding: .2em;
  }
  &-title{
    padding: .5em;
    color: $blue;
    &::after{
      content: " :";
    }
  }
  &-img{
    background: $blue;
    opacity: .7;
    width: 100%;
    height: auto;
  }
}

footer {
  background: #252A34;
  padding: 70px 0 50px 0;
  position: relative;
  
}
.footer-content{
 margin-top: 2em;
  text-align: center;
  color: rgb(106, 116, 113);
}
.top-icon {
  position: absolute;
  top: 5px;
  width: 47px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  a{
      color: $blue;
  }
}
.contact{
    list-style: none;
    
    .fb{
      
        color: #3b5998;
    }
    .git{
      
        color:  #4078c0;
    }
    .gplus{
        color: #dd4b39;
    }
    .twitter{
        color: #1da1f2;
    }
    .linkedin{
        color: #0077b5;
    }
    
    

}