
$darkcol:#222831;
$lightcol:#393E46;
$blue: #00ADB5;

body{
    background: $lightcol;
    color: #fff;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
}
.nav{
    
    &-container{
        
        position: fixed;
       
        background: $darkcol;
        width: 100%;
        
    }
    &-items{
        
        padding: .2em  .7em;
        
        list-style: none;
        
        border-radius: 0.5em;
       
        
        a{
            
            text-decoration: none;
            color: $blue;
            align-content: space-between;
        }
    }
}


.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-row{
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: row;
       align-content: center;
       flex-basis: 20px;
    }
}
.home{
    height: 100vh;
    
}