
$darkcol:#222831;
$lightcol:#393E46;
$blue: #00ADB5;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
html{
    color: $lightcol;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img{
    width: 100%;
    height: auto;
}
.container{
    width: 90vw;
   margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    &-row{
        flex-direction: row;
        justify-content: space-around;
    }
    &-col{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.nav-items{
    list-style: none;
    a{
        display: inline-block;
        color: #000;
        text-decoration: none;
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #000;
            transition: width .3s;
        }
        &:hover::after {
            width: 100%;
            
        }
    }
    
}

.card {
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    &-hover{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  
 