@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
html {
  color: #393E46;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

img {
  width: 100%;
  height: auto; }
