@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
html {
  color: #393E46;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html::after, html::before {
  box-sizing: border-box; }

img {
  width: 100%;
  height: auto; }

.container {
  width: 90vw;
  margin: 0 auto; }

hr {
  border-color: #393E46;
  border-width: .5px;
  opacity: .4; }

.flex {
  display: flex;
  flex-wrap: wrap; }
  .flex-row {
    flex-direction: row;
    justify-content: space-around; }
  .flex-col {
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.nav-items {
  list-style: none; }
  .nav-items a {
    display: inline-block;
    color: #000;
    text-decoration: none; }
    .nav-items a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #000;
      transition: width .3s; }
    .nav-items a:hover::after {
      width: 100%; }

.card {
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  height: 300px;
  margin: .5rem 0 1rem 0;
  position: relative;
  width: 300px; }
  .card-hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

footer {
  background: #1B242F;
  padding: 70px 0 50px 0;
  position: relative; }
